.icon_container {
    text-align: center;
    width: 60px;
    height: 60px;
}

.image {
    width: 50px;
    height: 50px;
}

.text {
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 12px; /* Adjust the size as needed */
    color: #333; /* Change the color as needed */
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 80px 0;
    display: flex;
}

.li {
    margin-right: 40px; /* Adjust the margin as needed */
}